body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

em {
  color: #ec7e2e;
  font-style: normal;
}

#header {
  width: 800px;
  margin: 60px auto 60px auto;
  /* border: 2px solid blue; */
}

#header img {
  float: left;
}

h1 {
  color: #191919;
  font-size: 32pt;
  font-weight: 900;
}

h2 {
  color: #868686;
  font-weight: 300;
}

button {
  height: 48px;
  width: 200px;
  background-color: #ec7e2e;
  border: 0;
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 48px;
}

#cards h1 {
  font-size: 26px;
}

#cards p {
  overflow: scroll;
}

#cards section {
  width: 500px;
  height: 400px;
  background-color: pink;
  display: inline-block;
  box-shadow: 0px 0px 48px #00000088;
}

/* #cards section-1 {
  flex-grow: 1;
} */

#cards section div {
  height: 200px;
  background-color: red;
}
