body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #f6f6f6;

  & strong {
    color: #ec7e2e;
    font-style: normal;
  }

  & button {
    height: 64px;
    width: 250px;
    background-color: #ec7e2e;
    border: 0;
    border-radius: 1000px;
    box-shadow: 0px 0px 24px #ec7e2e;
    color: white;
    font-weight: 900;
  }
}

.vstack {
  display: flex;
  flex-direction: column;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header {
  width: 900px;
  margin: 60px auto 60px auto;
  display: flex;
  /* border: 2px solid blue; */

  & img {
    width: 350px;
  }

  & h1 {
    color: #191919;
    font-size: 40pt;
    font-weight: 900;
    line-height: 150%;
  }

  & h2 {
    color: #868686;
    font-size: 18pt;
    font-weight: 300;
    line-height: 150%;
    margin-top: 16px;
  }

  & li {
    color: #868686;
    font-size: 14pt;
    list-style: inside;

    & footnote {
      display: block;
      font-size: 12pt;
      padding-left: 24px;
    }
  }
}

.vscode {
  height: 500px;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 24px #00000099;
  margin: 96px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  & .sidebar {
    font-size: 16pt;
    /* color: #a0d6f5; */
    color: white;
    background-color: #333333;
    padding: 48px;

    & label {
      display: block;
      margin: 8px;
    }

    & details > details,
    details > label {
      margin-left: 32px;
    }
  }

  & .code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    color: #969696;

    & img {
      height: 200px;
    }

    & p {
      margin: 32px;
      font-size: 20pt;
      text-align: center;
    }
  }
}

#cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0px 96px;
  gap: 48px;

  & section {
    width: 500px;
    display: inline-block;
    box-shadow: 0px 0px 24px #00000033;
    overflow: hidden;
    border-radius: 30px;
    background-color: #f6f6f6;
    /* border: 1px solid rgb(206, 204, 232); */

    /* Card hero */
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      background-color: lightblue;
    }

    /* Card content */
    & article {
      height: 190px;
      margin: 24px;
      color: #aaa;
      display: flex;
      flex-direction: column;
      gap: 12px;
      overflow: hidden;

      & h1 {
        color: #191919;
        font-size: 29pt;
        line-height: 100%;
      }

      & h2 {
        color: #8a8a8a;
        font-size: 16pt;
        font-weight: 600;
        text-transform: uppercase;
      }

      & p {
        text-overflow: ellipsis;
        font-size: 14pt;
      }
    }
  }

  #zero-javascript {
    /* Card hero */
    > div {
      background-color: white;
    }
  }

  #zero-syntax {
    /* Card hero */
    > div {
      background-color: #1e1e1e;
    }
  }

  #zero-stupid {
    /* Card hero */
    > div {
      font-size: 96pt;
      background-color: #970101;
    }

    & strong {
      color: #970101;
    }
  }
}
